<form name="loginForm" ng-submit="formData.login()">
    <div class="main-container">
        <h2>Login to your account</h2>
		{{formData.login()}}
        <div class="input input--kaede">
		
            <input class="input__field input__field--kaede" type="text" id="EmailField" ng-model="formData.username"  />
            <label class="input__label input__label--kaede" for="EmailField">
                <span class="input__label-content input__label-content--kaede">Email</span>
            </label>
        </div>
        <div class="input input--kaede">
            <input class="input__field input__field--kaede" type="password" id="PasswordField" ng-model="formData.password" />
            <label class="input__label input__label--kaede" for="PasswordField">
                <span class="input__label-content input__label-content--kaede">Password</span>
            </label>
        </div>

		  <!--button ui-sref="user.dashboard"   class="btn btn-primary text-uppercase"><i class="fa fa fa-arrow-right btn-icon"></i><span>Login</span-->
		
		
        <button type="submit" class="btn btn-primary text-uppercase"><i class="fa fa fa-arrow-right btn-icon"></i><span>Login</span></button>

    </div>
</form>
