<main>
    <div class="bg-hero row pad-xlarge-row">
        <div class="main-container text-color-white text-weight-300 text-center">
            <h1 class="text-weight-300 pad-large-row">Docker environments for enterprise customers</h1>
            <p class="text-resize-l pad-large-row text-color-white">
                Build, scale and run your environments in 10 minutes
            </p>
            <p class="pad-xxlarge-row">
                <a class="btn btn-primary text-resize-l text-uppercase" ng-href="#/"><i class="fa fa-2x fa-ship btn-icon"></i><span>Get started!</span></a>
            </p>
        </div>
    </div>

    <!--    FAST, EASY, SECURE -->

    <div class="row pad-xlarge-row">
        <div class="main-container">
            <div class="row text-center grid-xlarge-sides">
                <div class="col tab-div-33 pad-xlarge-sides">
                    <div class="mob-div-33 tab-div-50 display-inline-block" aria-hidden="true">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                            <g display="none" opacity="0.2">
                                <path display="inline" fill="#231F20" d="M46,50h-2c0-0.7,0-2,0-4c0-4.5-3-7.4-3-7.4s-3-2.8-3.9-3.7c-0.9-0.9,0-1.8,0-1.8s1.3-1.3,4.2-4c2.8-2.7,2.7-6.7,2.7-6.7l0-5.1l-12-1l-12,1l0,5.1c0,0-0.1,3.9,2.7,6.7c2.8,2.7,4.2,4,4.2,4s0.9,0.9,0,1.8C26,35.8,23,38.6,23,38.6s-3,2.8-3,7.4c0,2,0,3.3,0,4h-2c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2h28c1.1,0,2-0.9,2-2C48,50.9,47.1,50,46,50z" />
                            </g>
                            <g display="none" opacity="0.3">
                                <path display="inline" fill="#231F20" d="M48,16c0,1.1-0.9,2-2,2H18c-1.1,0-2-0.9-2-2l0,0c0-1.1,0.9-2,2-2h28C47.1,14,48,14.9,48,16L48,16z" />
                            </g>
                            <g>
                                <path fill="#DFE5E2" d="M31,40.9l0-8.9c0-2.1-1-3.4-1.3-3.7l-4.2-4C24,22.9,24,20.6,24,20.6h8h8v0c0,0,0,0,0,0h0c0,0,0,2.3-1.5,3.7l-4.2,4C33.9,28.6,33,29.9,33,32l0,8.9l8,7.1h3c0-0.7,0-2,0-4c0-4.5-3-7.4-3-7.4s-3-2.8-3.9-3.7c-0.9-0.9,0-1.8,0-1.8s1.3-1.3,4.2-4c2.8-2.7,2.7-6.7,2.7-6.7l0-4.5H20l0,4.5c0,0-0.1,3.9,2.7,6.7c2.8,2.7,4.2,4,4.2,4s0.9,0.9,0,1.8C26,33.8,23,36.6,23,36.6s-3,2.8-3,7.4c0,2,0,3.3,0,4h3L31,40.9z" />
                                <path fill="#4F5D73" d="M33,32c0-2.1,0.9-3.4,1.3-3.8l4.2-4c1.5-1.4,1.5-3.6,1.5-3.7h-8h-8c0,0,0.1,2.3,1.5,3.7l4.2,4c0.4,0.4,1.3,1.7,1.3,3.7l0,8.9L23,48h18l-8-7.1L33,32z" />
                                <polygon fill="#4F5D73" points="40,20.6 40,20.6 40,20.6" />
                                <path fill="#76C2AD" d="M46,16c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2H18c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2h2h24H46z" />
                                <path fill="#76C2AD" d="M46,48h-2h-3H23h-3h-2c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2h28c1.1,0,2-0.9,2-2C48,48.9,47.1,48,46,48z" />
                            </g>
                        </svg>
                    </div>

                    <div class="row">
                        <h2>Fast</h2>
                        <p class="text-weight-300 text-color-general">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, consequuntur!</p>
                    </div>
                </div>
                <div class="col tab-div-33 pad-xlarge-sides">
                    <div class="mob-div-33 tab-div-50 display-inline-block" aria-hidden="true">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                            <g display="none" opacity="0.2">
                                <g display="inline">
                                    <path fill="#231F20" d="M46,45c0,2.2-1.8,4-4,4H22c-2.2,0-4-1.8-4-4V25c0-2.2,1.8-4,4-4h20c2.2,0,4,1.8,4,4V45z" />
                                </g>
                            </g>
                            <g display="none" opacity="0.2">
                                <g display="inline">
                                    <path fill="#231F20" d="M32.5,41c-0.6,0-1.2-0.3-1.6-0.8l-6.1-8c-0.7-0.9-0.5-2.1,0.4-2.8c0.9-0.7,2.1-0.5,2.8,0.4l4.2,5.5c2.3-4.2,7.3-11.8,15.3-16.9c0.9-0.6,2.2-0.3,2.8,0.6c0.6,0.9,0.3,2.2-0.6,2.8c-10.2,6.6-15.2,18-15.3,18.1c-0.3,0.7-0.9,1.1-1.6,1.2C32.6,41,32.5,41,32.5,41z" />
                                </g>
                            </g>
                            <g>
                                <path fill="#FFFFFF" d="M22,43h20V26.2c-5.1,5.7-7.7,11.5-7.7,11.5c-0.3,0.7-0.9,1.1-1.6,1.2c-0.1,0-0.2,0-0.2,0c-0.6,0-1.2-0.3-1.6-0.8l-6.1-8c-0.7-0.9-0.5-2.1,0.4-2.8c0.9-0.7,2.1-0.5,2.8,0.4l4.2,5.5c1.4-2.6,3.9-6.4,7.4-10.3H22V43z" />
                                <path fill="#4F5D73" d="M42,26.2V43H22V23h17.5c1.2-1.3,2.5-2.5,3.9-3.7C43,19.1,42.5,19,42,19H22c-2.2,0-4,1.8-4,4v20c0,2.2,1.8,4,4,4h20c2.2,0,4-1.8,4-4V23c0-0.2,0-0.4-0.1-0.6C44.5,23.6,43.2,24.9,42,26.2z" />
                                <path fill="#C75C5C" d="M50.2,16.9c-0.6-0.9-1.8-1.2-2.8-0.6c-1.4,0.9-2.7,1.9-4,3c-1.4,1.2-2.7,2.5-3.9,3.7c-3.5,3.8-6,7.7-7.4,10.3l-4.2-5.5c-0.7-0.9-1.9-1-2.8-0.4c-0.9,0.7-1,1.9-0.4,2.8l6.1,8c0.4,0.5,1,0.8,1.6,0.8c0.1,0,0.2,0,0.2,0c0.7-0.1,1.3-0.5,1.6-1.2c0-0.1,2.6-5.8,7.7-11.5c1.2-1.3,2.5-2.6,3.9-3.8c1.1-1,2.3-1.9,3.6-2.7C50.5,19.1,50.8,17.8,50.2,16.9z" />
                            </g>
                        </svg>
                    </div>
                    <div class="row">
                        <h2>Easy</h2>
                        <p class="text-weight-300 text-color-general">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, consequuntur!</p>
                    </div>
                </div>
                <div class="col tab-div-33 pad-xlarge-sides">
                    <div class="mob-div-33 tab-div-50 display-inline-block" aria-hidden="true">
                        <?xml version="1.0" encoding="utf-8" ?>
                        <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                            <g display="none" opacity="0.2">
                                <path display="inline" fill="#231F20" d="M47,27H17c-1.7,0-3,1.3-3,3v19c0,1.7,1.3,3,3,3h30c1.7,0,3-1.3,3-3V30C50,28.3,48.7,27,47,27z M34,41.4V44c0,1.1-0.9,2-2,2s-2-0.9-2-2v-2.6c-1.2-0.7-2-2-2-3.4c0-2.2,1.8-4,4-4s4,1.8,4,4C36,39.5,35.2,40.8,34,41.4z" />
                            </g>
                            <g>
                                <path fill="none" d="M32,15.3c-4.7,0-8.5,3.8-8.5,8.5V25h17v-1.2C40.5,19.1,36.7,15.3,32,15.3z" />
                                <path fill="#4F5D73" d="M23.5,23.8c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5V25h5v-1.2c0-7.4-6.1-13.5-13.5-13.5s-13.5,6.1-13.5,13.5V25h5V23.8z" />
                                <path fill="#FFFFFF" d="M32,32c-2.2,0-4,1.8-4,4c0,1.5,0.8,2.8,2,3.4V42c0,1.1,0.9,2,2,2s2-0.9,2-2v-2.6c1.2-0.7,2-2,2-3.4C36,33.8,34.2,32,32,32z" />
                                <path fill="#76C2AE" d="M47,25h-1.5h-5h-17h-5H17c-1.7,0-3,1.3-3,3v19c0,1.7,1.3,3,3,3h30c1.7,0,3-1.3,3-3V28C50,26.3,48.7,25,47,25z M34,39.4V42c0,1.1-0.9,2-2,2s-2-0.9-2-2v-2.6c-1.2-0.7-2-2-2-3.4c0-2.2,1.8-4,4-4s4,1.8,4,4C36,37.5,35.2,38.8,34,39.4z" />
                            </g>
                        </svg>

                    </div>
                    <div class="row">
                        <h2>Secure</h2>
                        <p class="text-weight-300 text-color-general">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, consequuntur!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    BUILD, SCALE, RUN -->

    <div class="row pad-xlarge-row bg-light">
        <div class="main-container">
            <h2 class="text-center text-weight-400 pad-xlarge-row">Get to manage and monitor your environments after only 3 steps</h2>
            <div class="row grid-large-sides">
                <div class="col tab-div-50 pad-large-sides">
                    <figure>
                        <img src="../images/browser-img.png" alt="Browser Window with an example of the app at work" class="full-width">
                    </figure>
                </div>
                <div class="col tab-div-50 pad-large-sides">
                    <div class="row">
                        <figure class="col tab-div-33 sd-div-25 pad-large-around">
                            <img src="../images/build-icon.svg" class="full-width">
                        </figure>
                        <h3 class="text-uppercase">Build</h3>
                        <p>Setup your apps configuration easily by simply choosing an image.</p>
                    </div>
                    <div class="row">
                        <figure class="col tab-div-33 sd-div-25 pad-large-around">
                            <img src="../images/scale-icon.svg" class="full-width">
                        </figure>
                        <h3 class="text-uppercase">Scale</h3>
                        <p>You can always modify your config if it’s not enough.</p>
                    </div>
                    <div class="row">
                        <figure class="col tab-div-3 sd-div-25 pad-large-around">
                            <img src="../images/run-icon.svg" class="full-width">
                        </figure>
                        <h3 class="text-uppercase">Run</h3>
                        <p>Deploy your environments in a matter of seconds.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    PLATFORM -->

    <div class="row pad-xlarge-row">
        <div class="main-container">
            <div class="row">
                <div class="col tab-div-50 pad-xlarge-sides m-pad-sides text-center">
                    <h2>Docker Platform</h2>
                    <figure>
                        <img src="../images/docker-logo.png" alt="Docker" class="mob-div-66">
                    </figure>
                </div>
                <div class="col tab-div-50 pad-xlarge-sides m-pad-sides">
                    <h2>Images you can use</h2>
                    <ul class="list-large-tick text-uppercase text-color-primary text-weight-300 text-resize-l">
                        <li>Databases</li>
                        <li>Application Servers</li>
                        <li>Linux operating system</li>
                        <li>Training</li>
                        <li>Customized VMs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</main>