<figure class="pad-xxlarge-row text-center">
	<div class="display-inline-block tab-div-75 pad-xlarge-top text-uppercase">
		<div class="progress-step active col mob-div-33">Select image</div>
		<div class="progress-step active col mob-div-33">Configure image</div>
		<div class="progress-step active col mob-div-33">Cloud provider</div>
	</div>
</figure>
<div class="row bg-light">
	<div class="main-container">
		<ul class="list-inline text-left text-uppercase nav-tabs grid-large-sides">
			<li ng-class="tabClass('cloudprovider')">
				<a ui-sref="user.createservice.cloudprovider">Cloud provider</a>
			</li>
		</ul>
	</div>
</div>

<ul class="main-container">
	<li ng-repeat="item in clouds" class="row grid-sides">
		<div class="col div-20 tab-div-25 pad-xlarge-around">
			<img ng-src="{{item.img}}" class="full-width">
		</div>
		<div class="col div-60 tab-div-50 pad-sides">
			<h2>{{item.name}}</h2>
			<p>{{item.description}}</p>
		</div>
		<div class="col div-20 tab-div-25 pad-xxlarge-top text-right">
			<input type="radio" id="{{item.id}}" name="Cloud providers" ng-model="config.cloud" value="{{item.id}}">
		</div>
	</li>
</ul>

<div class="row text-center pad-xlarge-row">
	<a ui-sref="^.configureimage" class="btn btn-secondary"><i class="fa fa-arrow-left btn-icon"></i><span>Previous step</span></a>
	<a ui-sref="user.dashboard" class="btn btn-secondary" ng-click="saveImage()"><i class="fa fa-save btn-icon"></i><span>Create Service</span></a>
</div>