<figure class="pad-xxlarge-row text-center">
	<div class="display-inline-block tab-div-75 pad-xlarge-top text-uppercase">
		<div class="progress-step active col mob-div-33">Select image</div>
		<div class="progress-step active col mob-div-33">Configure image</div>
		<div class="progress-step col mob-div-33">Cloud provider</div>
	</div>
</figure>
<div class="row bg-light">
	<div class="main-container">
		<ul class="list-inline text-left text-uppercase nav-tabs grid-large-sides">
			<li ng-repeat="items in configCategories" ng-class="tabClass('{{items.state}}')">
				<a ui-sref=".{{items.state}}">{{items.Category}}</a>
			</li>
		</ul>
	</div>
</div>


<div ui-view></div>


<div class="row text-center pad-xlarge-row">
	<a ui-sref="user.createservice.selectimage" class="btn btn-primary"><i class="fa fa-arrow-left btn-icon"></i><span>Previous step</span></a>
	<a ui-sref="^.cloudprovider" class="btn btn-primary"><i class="fa fa-arrow-right btn-icon"></i><span>Next step</span></a>
</div>