<figure class="pad-xxlarge-row text-center">
	<div class="main-container tab-div-75 pad-xlarge-top text-uppercase text-resize-s">
		<div class="progress-step active col mob-div-33">Select image</div>
		<div class="progress-step col mob-div-33">Configure image</div>
		<div class="progress-step col mob-div-33">Cloud provider</div>
	</div>
</figure>
<div class="row bg-light">
	<ul class="list-inline text-center text-uppercase text-resize-s nav-tabs">
		<li ng-repeat="items in services" ng-class="tabClass('{{items.name}}')">
			<a ui-sref="user.createservice.selectimage({category:items.name})">{{items.name}}</a>
		</li>
	</ul>
</div>
<ul class="main-container">
	<li ng-repeat="item in services[serviceIndexes[servicesCategory]].blueprints" class="row grid-sides">
		<div class="col div-20 tab-div-25 pad-large-row pad-xlarge-sides service-img">
			<img ng-src="{{item.logo}}" class="">
		</div>
		<div class="col div-60 tab-div-50 pad-sides">
			<h2>{{item.name}}</h2>
			<p>{{item.description}}</p>
		</div>
		<div class="col div-20 tab-div-25 pad-xxlarge-top text-right">
			<a ui-sref="^.configureimage" ng-click="addImage(item.id)" class="btn btn-secondary"><i class="fa fa-check-circle-o btn-icon"></i><span>Select</span></a>
		</div>
	</li>
</ul>