<main>
    <div class="bg-hero row pad-xlarge-row">
        <div class="main-container text-color-white text-weight-300 text-center">
            <h1 class="text-weight-300 pad-large-row">Docker environments for enterprise customers</h1>
            <p class="text-resize-l pad-large-row">
                Build, scale and run your environments in 10 minutes 
            </p>
            <p class="pad-large-row">
                <a class="btn btn-large btn-primary text-resize-l text-uppercase" ng-href="#/">Get started!</a>
            </p>
        </div>
    </div>

    <div class="row marketing">
        <h4>HTML5 Boilerplate</h4>
        <p>
            HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
        </p>

        <h4>Angular</h4>
        <p>
            AngularJS is a toolset for building the framework most suited to your application development.
        </p>

        <h4>Karma</h4>
        <p>Spectacular Test Runner for JavaScript.</p>
    </div>
</main>