<header class="bg-secondary">
    <nav class="main-container main-nav text-color-white pad-row" role="navigation">
        <div class="col mob-div-100 tab-div-50 pad-row mob-text-center">
            <a class="nav-brand text-color-white text-resize-xl text-no-decoration text-weight-300" href="#/">VM Factory</a>
        </div>
        <div class="col tab-div-50 menu-items pad-top">
            <ul class="list-inline text-right text-uppercase text-weight-300 text-resize-s">
               <li ng-class="menuClass('main')" class="rounded">
                    <a ui-sref="presentation.main" class="btn"><i class="fa fa-lg fa-home btn-icon"></i><span>Home</span></a>
                </li>
                <li ng-class="menuClass('features')" class="rounded">
                    <a ui-sref="presentation.features" class="btn"><i class="fa fa-lg fa-cogs btn-icon"></i><span>Features</span></a>
                </li>
                <li ng-class="menuClass('help')" class="rounded">
                    <a ui-sref="presentation.help" class="btn"><i class="fa fa-lg fa-question btn-icon"></i><span>Help</span></a>
                </li>
                <li ng-class="menuClass('login')" class="rounded">
                    <button ng-click="showLogin()" class="btn text-uppercase"><i class="fa fa-lg fa-user btn-icon"></i><span>Login</span>
                    </button>
                </li>
                <li ng-class="menuClass('signup')" class="rounded">
                    <a ui-sref="presentation.signup" class="btn"><i class="fa fa-lg fa-check-circle btn-icon"></i><span>Sign up</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div ui-view class="bg-white">aaa</div>

<footer class="row pad-row text-color-white">
    <div class="main-container">
        <p class="text-color-white">&copy;2015 VMFactory App</p>
    </div>
</footer>